extends layout

block content
    h1 Maak een nieuwe school aan

    form(method='POST' action='/schools')
        label(for='name') School naam:
        input(type='text' name='name', required)

        label(for='email') E-mail:
        input(type='email' name='email', required)

        label(for='telephone') Telefoon:
        input(type='tel' name='telephone', required)

        button(type='submit') Maak School aan
