extends layout

block content
    h1 Maak een nieuwe organisatie aan

    form(method='POST' action='/organisations')
        div
            label(for='name' style='display: inline-block; width: 120px;') Organisatie naam:
            input(type='text' name='name', required)

        div
            label(for='type' style='display: inline-block; width: 120px;') Type:
            select#schoolType(name='type' required)
                option(value='school') School
                option(value='board') Board
                option(value='umbrella') Umbrella

        div#belongsToInput(style='display: none;')
            label(for='belongsTo' style='display: inline-block; width: 120px;') Behoort tot:
            select(name='belongsTo', required)

        div
            label(for='email' style='display: inline-block; width: 120px;') E-mail:
            input(type='email' name='email', required)

        div
            label(for='telephone' style='display: inline-block; width: 120px;') Telefoon:
            input(type='tel' name='telephone', required)

        button(type='submit') Maak Organisatie aan

    script.
        // Pass organisations data from server to JavaScript
        // note: !{JSON.stringify(xxx)} is Jade unescaped interpolation syntax to convert a JavaScript object into a JSON string
        // source: https://stackoverflow.com/questions/8698534/how-to-pass-variable-from-jade-template-file-to-a-script-file
        const allBoardsAndUmbrellas = !{JSON.stringify(organisations)};

        const schoolTypeSelect = document.getElementById('schoolType');
        const belongsToInput = document.getElementById('belongsToInput');
        const belongsToSelect = belongsToInput.querySelector('select');

        schoolTypeSelect.addEventListener('change', function(e) {
            const selectedType = e.target.value;

            // Hide belongsTo input for umbrellas and return
            if (selectedType === 'umbrella') {
                belongsToInput.style.display = 'none';
                return;
            }

            // Do show belongsTo input for schools and boards
            belongsToInput.style.display = 'block';

            // Determine which parent type to show
            const parentType = selectedType === 'school' ? 'board' : 'umbrella';

            // Filter organisations by parent type
            const filteredBoardsAndUmbrellas = allBoardsAndUmbrellas.filter(organisation => organisation.type === parentType);

            // Populate the dropdown
            // reset options by setting innerHTML otherwise the list keeps growing on each change!
            belongsToSelect.innerHTML = '<option value="">Geen parent</option>';
            // create an option element for each filtered organisation
            filteredBoardsAndUmbrellas.forEach(parent => {
                const option = document.createElement('option');
                option.value = parent._id;
                option.textContent = parent.name;
                belongsToSelect.appendChild(option);
            });
        });

        // also run this on page load otherwise the belongsTo select won't be populated until the user changes the type!
        schoolTypeSelect.dispatchEvent(new Event('change'));
