extends layout

block content
    h1 Maak een nieuwe school aan

    form(method='POST' action='/schools')
        div
            label(for='name' style='display: inline-block; width: 120px;') School naam:
            input(type='text' name='name', required)

        div
            label(for='type' style='display: inline-block; width: 120px;') Type:
            select(name='type' required)
                option(value='school') School
                option(value='board') Board
                option(value='umbrella') Umbrella

        div#belongsToInput
            label(for='belongsTo' style='display: inline-block; width: 120px;') Schoolbestuur:
            select(name='belongsTo')
                option(value='' style='font-family: monospace;') Geen parent
                each school in schools
                    option(value=school._id style='font-family: monospace;')= school._id + ' - ' + school.name

        div
            label(for='email' style='display: inline-block; width: 120px;') E-mail:
            input(type='email' name='email', required)

        div
            label(for='telephone' style='display: inline-block; width: 120px;') Telefoon:
            input(type='tel' name='telephone', required)

        button(type='submit') Maak School aan

        script.
            document.querySelector('select[name="type"]').addEventListener('change', function(e) {
                const belongsToInput = document.getElementById('belongsToInput');
                if (e.target.value === 'umbrella') {
                    belongsToInput.style.display = 'none';
                } else {
                    belongsToInput.style.display = 'block';
                }
            });
